/.project
stacktrace.log
web-app/WEB-INF/classes
target/
.classpath
.settings/
.project
db/
target-eclipse/classes
*/*.iml
*.iml
*.ipr
*.iws
*.swp
projectFilesBackup/
.idea/
upload/
out/
.DS_Store
.slcache/
*.ids
*.iml
*.iml
node_modules/
/logs/
.class
